<h1> Detalles de tus vuelos </h1>

<% @user_flights.each_with_index do |flight, index| %>
    <div class = "vuelos">
      <p><%=index+1%>) No Vuelo: <%=flight.num_flight%></p>
      <p>Date: <%=flight.date%>, Depart: <%=flight.depart%>:00:00 From: <%=flight.from%>,</p>
      <p>To: <%=flight.to%>, Duration: <%=flight.duration%> horas, Precio: <%=flight.cost%>, Lugares: <%=60 - flight.passengers%></p>
    </div>
  <% end %>