<div class = "vuelos">
      <p> No Vuelo: <%=@flight.num_flight%></p>
      <p>Date: <%=@flight.date%>, Depart: <%=@flight.depart%>:00:00 From: <%=@flight.from%>,</p>
      <p>To: <%=@flight.to%>, Duration: <%=@flight.duration%> horas, Precio: <%=@flight.cost%>, Lugares: <%=60 - @flight.passengers%></p>
    </div>

<%= form_for(:booking, url: book_path, method: "POST") do |f| %>

  <p> 
    <%= f.hidden_field :num_booking, :value => rand(10000..99999)%>
    <%= f.hidden_field :total, :value => @flight.cost*  params[:flight][:passengers].to_i%>
    <%= f.hidden_field :flight_id, :value => @flight.id%>
    <%= f.hidden_field :user_id, :value => current_user.id%>
    <%= f.hidden_field :passengers, :value => (params[:flight][:passengers]).to_i%>
  </p>

  <h3>Datos de persona 1 (Responsable)</h3>

  <p>
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre, :required => true%>
  </p>

  <p>
    <%= f.label :email %><br>
    <%= f.text_field :email, :required => true %>
  </p>

  <% ((params[:flight][:passengers]).to_i-1).times do  |i|%>
    <h3>Datos de persona <%="#{i+2}"%></h3>

    <%nombre = "nombre#{i}"%>
    <%email = "email#{i}"%>

      <p>
        <%= f.label :nombre%><br>
        <%= f.text_field nombre.to_sym, :required => true%>
      </p>

      <p>
        <%= f.label :email%><br>
        <%= f.text_field email.to_sym, :required => true%>
      </p>

    <%end%>
  
  <p>
    <%= f.submit "Reservar Vuelo", data: { confirm: 'Realizar Reservación?' } %>
  </p>
<% end %>
